<div class=" flex flex-row justify-between items-center border-b border-border p-2">
    <div class="flex flex-row gap-3">
        <button type="button" class="shrink-0 cursor-pointer" (click)="toggleSidebar()">
            <!-- <img class="size-8" src="assets/icons/colored/menu.svg" alt="m"> -->
            <app-svg-colour
            svgSize="size-8"
            svgColor="bg-primary"
            svgPath="assets/icons/colored/menu.svg"
            ></app-svg-colour>
        </button>
        <app-main-logo></app-main-logo>
    </div>
    <div class="py-2 flex items-center justify-center">
        <app-language-switcher></app-language-switcher>
        <app-logout-btn></app-logout-btn>
    </div>
</div>