<div class=" flex flex-row justify-between items-center border-b border-b-card-bg p-2">
    <!-- (click)="[onOpen('')]" -->
    <div class="flex flex-row gap-3">
        <button type="button" class="shrink-0 cursor-pointer" (click)="toggleSidebar()">
            <img class="size-8" src="assets/icons/colored/menu.svg" alt="m">
        </button>
        <app-main-logo></app-main-logo>
    </div>
    <!-- <a [routerLink]="['']">
        <div class="flex flex-row justify-between align-middle items-center ">
            <div class="flex flex-row">
                <img class="size-6.5 " src="assets/icons/logo.svg" alt="a">
                <span
                    class="opacity-0 font-inter md:opacity-100 font-medium text-card-bg dark:text-white text-lg px-2 ">
                    Dashdark X
                </span>
            </div>
        </div>
    </a> -->
    <div class="py-2 flex">
        <button type="button" [disabled]="open === 'profile'"
            class="md:flex flex-row hidden items-center w-full justify-between cursor-pointer"
            (click)="onRoute('profile')">
            <div class="flex fex-row items-center">
                <span class="text-figma-neutral font-medium font-worksans mx-3">Welcome</span>
                <div class="flex flex-col items-start px-2 ">
                    <span [ngClass]="open === 'profile' ? 'text-primary' : 'text-gray-700 dark:text-neutral-100' "
                        class=" text-sm font-bold ">{{username}}</span>
                    <!-- <span class="text-gray-500 dark:text-neutral-400 text-xs ">Account Settings</span> -->
                </div>
                <div class=" rounded-full overflow-hidden size-7 md:size-9 bg-contain  ">
                    <img class="-mt-1" src="assets/images/OIP.webp" alt="">
                </div>
            </div>
        </button>
        <app-logout-btn></app-logout-btn>
    </div>
</div>