<div class="">
    <p class="text-lg text-white font-medium">Credentials</p>
    <!-- <div class="" > -->
        <!-- <div> -->
            <nav class="flex flex-col gap-2 p-2" >
                <a [routerLink]="['/users/add/1']"
                [ngClass]="isActive('/users/add/1') ? 'bg-active-route-bg':  ''"
                class=" text-neutral-400 text-md font-medium p-1 rounded-md ">
                    <div class="flex flex-row items-center gap-2" >

                        <span><img src="assets/icons/uncolored/pencil.svg" alt=""></span>
                        <span>Personal Information</span>
                    </div>
                </a>
                <a [routerLink]="['/users/add/2']"
                [ngClass]="isActive('/users/add/2') ? 'bg-active-route-bg' : ''"
                class=" text-neutral-400 text-md font-medium p-1 rounded-md ">
                    <div class="flex flex-row items-center gap-2" >

                        <span><img src="assets/icons/uncolored/usericon.svg" alt=""></span>
                        <span>Basic Information</span>
                    </div>
                </a>
                <a [routerLink]="['/users/add/3']"
                [ngClass]="isActive('/users/add/3') ? ' bg-active-route-bg ': ''"
                 class=" text-neutral-400 text-md font-medium p-1 rounded-md ">
                    <div class="flex flex-row items-center gap-2" >

                        <span><img class="size-3" src="assets/icons/uncolored/companybag.svg" alt=""></span>
                        <span>Team</span>
                    </div>
                </a>
            </nav>

        <!-- </div> -->
    <!-- </div> -->

</div>