@if(isVisible) {
<div class="fixed inset-0 z-50 flex items-center justify-center bg-primary-bg/20 backdrop-blur-sm 
    bg-opacity-70 transition-opacity duration-300" (click)="closeOnBackdrop && close()">
    <div class="bg-primary-bg rounded-xl shadow-xl max-w-sm w-full px-10 py-8 mx-4 transform transition-all
    border border-primary duration-300 scale-100" (click)="$event.stopPropagation()">
        <div class="flex justify-between items-center pb-1 mb-1">
            <h3 class="text-2xl font-semibold text-figma-neutral font-worksans">{{ title }}</h3>
        </div>

        <div class=" text-figma-neutral">
            <ng-content></ng-content>
        </div>
    </div>
</div>
}