<!-- <div class="flex flex-1 "> -->

<div class="w-full md:w-59 h-23.5 rounded-lg bg-card-bg border border-gray-800 px-4.5 py-4">

    <!-- Header -->
    <div class="flex flex-row justify-between align-middle">
        <div class="flex gap-1 flex-row align-middle justify-center items-center">
            <img class="size-3" [src]="icon" alt="icon">
            <span class="text-figma-neutral text-[11px] font-normal font-inter ">{{ title }}</span>
        </div>
        <img src="assets/icons/threedotsmenu.svg" alt="menu">
    </div>

    <!-- Values -->
    <div class="flex flex-row gap-2 items-end pt-2.5">
        <span class="text-2xl text-white">{{ value }}</span>
        <span class="flex flex-row items-center tracking-normal gap-0.5 h-4.5 text-[10px] font-worksans rounded-xs mb-1.5 py-0.5 px-1" [ngClass]="trendColor">
            {{ trend | number:'1.0-1' }}%
            <img class="size-2" [src]="trendIcon" alt="arrow">
        </span>

    </div>
</div>
<!-- </div> -->