<div class="flex flex-col w-full bg-card-bg text-white border border-gray-800 rounded-xl py-2 mt-2">
    <div class="flex flex-row justify-between py-3.5 px-8.5 pb-5 border-b border-b-gray-800">
        <span class="text-white text-[15px] tracking-normal font-worksans font-normal">{{tableName()}}</span>
        <span class="text-sm font-semibold text-gray-400 px-4.5 ">
            <span class="text-sm font-semibold text-primary ">
                1 - {{tableTotal}}
            </span>
            of {{tableTotal}}
        </span>
    </div>
    <div class="flex flex-1">
        <table class="w-full min-w-max text-left border-collapse">
            <!-- Table Head -->
            <thead class="">
                <tr class="text-gray-300 text-sm">
                    <th class="px-[7px]">
                    </th>
                    <th>
                        <!-- class="p-3" -->
                        <!-- [indeterminate]="checkListTotal" -->
                        <input id="masterchkbox" name="masterchkbox" [indeterminate]="isIndeterminate"
                            [checked]="isChecked" (change)="toggleSelectallRows($event)" type="checkbox" class="appearance-none bg-card-bg 
                            indeterminate:appearance-auto indeterminate:accent-primary
                            checked:appearance-auto checked:accent-primary border-gray-800 border size-3 rounded-xs">
                    </th>
                    @for(column of columns; track $index){
                    <th class="py-3.5">
                        <div class="flex items-center gap-1 ">
                            <img class="size-2.5" [src]="column.icon" alt="i">
                            <span class="text-[10px] font-bold font-worksans">
                                {{column.label}}
                            </span>
                        </div>
                    </th>
                    }
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody class="text-sm">

                @for(data of tableData; track $index ){
                <tr class="odd:bg-active-route-bg">
                    <td>
                    </td>
                    <!-- Checkbox -->
                    <td class="">
                        <input [id]="$index" name="childchkbox" type="checkbox" [checked]="IncludesTableData(data)"
                            (change)="checkUncheckRow(data, $event)" class="appearance-none bg-card-bg border border-gray-800 size-3 
                            rounded-xs checked:appearance-auto checked:accent-primary  
                            ">
                    </td>

                    @for(column of columns; track $index){
                    <td class=" py-4.5 text-grey-300">
                        @if(data[column.key] === true || data[column.key] === false) {
                        <span class="px-1.5 py-px border rounded-xs text-[10px] font-extralight" [ngClass]="data[column.key] ? 'text-up-green-arrow bg-up-green-arrow/30 border-up-green-arrow/50' 
                            : 'text-gray-300 bg-gray-400/30 border-gray-400/50'">
                            • {{column?.func(data[column.key])}}
                        </span>
                        } @else {

                        <span class=" flex gap-2 text-[10px] text-gray-400 font-worksans ">
                            @if(column.label === "Company"){
                                <img class="size-4 rounded-full" [src]="imgSrc(getValue(data, column.key))" alt="">
                            }
                            {{getValue(data, column.key)}}
                        </span>
                        }
                        <!-- @if(data[column.key] === true){
                        <span
                            class=" px-1.5 py-px border rounded-xs
                            text-[10px] font-extralight text-up-green-arrow bg-up-green-arrow/30 border-up-green-arrow/50 ">•
                            Online</span>
                        } @else if(data[column.key] === false ){
                        <span class=" px-1.5 py-px border rounded-xs
                            text-[10px] font-extralight  text-gray-300 bg-gray-400/30 border-gray-400/50">•
                            Offline</span>
                        } @else {
                        <span class="text-[10px] text-gray-400 font-worksans ">

                            {{getValue(data, column.key)}}
                        </span>
                        } -->
                    </td>
                    }

                    <!-- Action Buttons -->
                    <td class=" flex justify-center gap-2 py-4.5 px-3 ">
                        <!-- <button class="flex items-center justify-center ">
                            <img src="assets/icons/eye.svg" class="w-4 h-4" />
                        </button> -->
                        <button (click)="onClickedEdit(tableData[$index])" class="flex items-center justify-center ">
                            <img src="assets/icons/neutral/pencil.svg" class="size-3" alt="act btn" />
                        </button>
                        <button (click)="onClickedDelete(tableData[$index])" class="flex items-center justify-center ">
                            <img src="assets/icons/neutral/bin.svg" class="size-3" alt="act btn" />
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="flex flex-row items-end justify-end py-5 px-5">
    <div class="px-14 flex flex-row items-center ">
        <label for="itemsperpage" class="text-gray-400 text-[11px] font-medium font-inter px-3">Rows per page:</label>
        <div class="flex relative ">
            <img class="absolute top-1/2 -translate-y-1/2 translate-x-5 pointer-events-none"
                src="assets/icons/neutral/droparrow.svg" alt="arrow">
            <select class=" appearance-none h-[26px] w-[41px] rounded-sm bg-active-route-bg text-white p-1 px-2 text-[10px] font-light
            " [(ngModel)]="itemsPerPage" (change)="onChangePerPage()" name="select" id="itemsperpage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
    <button class="bg-active-route-bg p-[5.5px] rounded-sm hover:bg-card-bg/50">
        <img src="assets/icons/white/leftarrow.svg" alt="arrow">
    </button>
    <button class="bg-active-route-bg p-[5.5px] rounded-sm ml-1.5 hover:bg-card-bg/50">
        <img src="assets/icons/white/rightarrow.svg" alt="arrow">
    </button>
</div>