<div class="flex flex-col w-full bg-card-bg text-white border border-neutral-500/50 rounded-xl py-2">
    <div class="flex flex-row justify-between py-4 px-8 border-b border-b-neutral-400/25">
        <span class="text-white text-lg font-normal">{{tableName()}}</span>
        <span class="text-sm font-light text-white px-3 ">
            <span class="text-sm font-light text-primary px-0.5 ">
                1 - {{tableTotal}}
            </span>
            of {{tableTotal}}
        </span>
    </div>
    <div class="flex flex-1">
        <table class="w-full min-w-max text-left border-collapse">
            <!-- Table Head -->
            <thead>
                <tr class=" text-gray-300 text-sm">
                    <th class="p-3">
                        <!-- <input type="checkbox"> -->
                        <button (click)="onAllCheck()">
                            <img [ngClass]="onCompare() === 1 ? 'inline' : 'hidden'" src="assets/icons/checkboxes/fullcheck.svg"
                                alt="">
                            <img [ngClass]="onCompare() === 2 ? 'inline' : 'hidden' " src="assets/icons/checkboxes/halfcheck.svg" alt="">
                            <img [ngClass]="onCompare() === 3 ? 'inline' : 'hidden'" src="assets/icons/checkboxes/uncheck.svg"
                                alt="">
                        </button>
                    </th>
                    @for(column of columns; track $index){
                    <th class="p-3">
                        <div class="flex items-center gap-1">
                            <img [src]="column.icon" alt="i">
                            {{column.label}}
                        </div>
                    </th>
                    }
                    <th>
                        <button 
                        [ngClass]="checkList ? 'inline' : 'hidden'", 
                        class="hover:bg-red-400 
                        bg-red-400/25 p-0.5 rounded-sm items-center justify-center ">
                            <img src="assets/icons/uncolored/bin.svg" class="w-4 h-4" />
                        </button>
                    </th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody class="text-sm">

                @for(data of tableData; track $index){

                <tr class="odd:bg-active-route-bg">

                    <!-- Checkbox -->
                    <td class="p-3">
                        <button (click)="onChecked(data)">
                            <img [ngClass]="onContains(data) ? 'inline' : 'hidden'" src="assets/icons/checkboxes/fullcheck.svg"
                                alt="">
                            <img [ngClass]="onContains(data) ? 'hidden' : 'inline'" src="assets/icons/checkboxes/uncheck.svg"
                                alt="">
                        </button>
                        <!-- <input class=" bg-active-route-text " type="checkbox" /> -->
                    </td>

                    @for(column of columns; track $index){
                    <td class="p-3 text-grey-300">
                        @if(data[column.key] === true){
                        <img src="assets/icons/onlinetag.svg" alt="">
                        } @else if(data[column.key] === false ){
                        <img src="assets/icons/offlinetag.svg" alt="">
                        } @else {
                        {{getValue(data, column.key)}}
                        }
                    </td>
                    }

                    <!-- Action Buttons -->
                    <td class="p-3 flex justify-center gap-1">
                        <button class="hover:bg-blue-400 
                        bg-blue-400/25 size-5 rounded-sm flex items-center justify-center ">
                            <img src="assets/icons/eye.svg" class="w-4 h-4" />
                        </button>
                        <button (click)="onClickedEdit(tableData[$index])" class="hover:bg-orange-400 
                        bg-orange-400/25 size-5 rounded-sm flex items-center justify-center ">
                            <img src="assets/icons/uncolored/pencil.svg" class="w-4 h-4" />
                        </button>
                        <button (click)="onClickedDelete(tableData[$index])" class="hover:bg-red-400 
                        bg-red-400/25 size-5 rounded-sm flex items-center justify-center ">
                            <img src="assets/icons/uncolored/bin.svg" class="w-4 h-4" />
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="flex flex-row items-end justify-end py-5 px-4">
    <div class="px-15">
        <label for="itemsperpage" class="text-white text-sm font-medium px-5">Rows per page:</label>
        <select class="rounded-md bg-card-bg text-white p-1 text-sm font-light" [(ngModel)]="itemsPerPage"
            (change)="onChangePerPage()" name="select" id="itemsperpage">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </div>
    <button class="bg-card-bg p-2 rounded-md ml-3 hover:bg-card-bg/50">
        <img class="rotate-180" src="assets/icons/rightarrow.svg" alt="">
    </button>
    <button class="bg-card-bg p-2 rounded-md ml-3 hover:bg-card-bg/50">
        <img src="assets/icons/rightarrow.svg" alt="">
    </button>
</div>