<div class="flex flex-col w-full bg-card-bg text-white border-2 border-gray-800 rounded-xl py-2 mt-2">
    <div class="flex flex-row justify-between py-3.5 px-8.5 pb-5 border-b border-b-gray-800">
        @if(selectedItems >= 1) {
        <span class="text-white text-[15px] tracking-normal font-worksans font-normal"> Selected entries :
            {{selectedItems}}</span>
        } @else {
        <span class="text-white text-[15px] tracking-normal font-worksans font-normal">{{tableName()}}</span>
        }
        <span class="text-sm font-semibold text-gray-400 px-4.5 ">
            <span class="text-sm font-semibold text-primary ">
                {{displayStartIndex}} - {{endIndex}}
            </span>
            of {{tableTotal}}
        </span>
    </div>

    @if(tableData.length) {
    <div class="flex flex-1 overflow-x-auto scroll-container">
        <table class="w-full text-left border-collapse  ">
            <!-- Table Head -->
            <thead class="">
                <tr class="text-gray-300 text-sm items-center">
                    <th class="px-[7px]  ">
                    </th>
                    <th class="sticky left-0 bg-card-bg z-10">
                        <!-- class="p-3" -->
                        <!-- [indeterminate]="checkListTotal" -->
                        <input id="masterchkbox" name="masterchkbox" [indeterminate]="isIndeterminate"
                            [checked]="isChecked" (change)="toggleSelectallRows($event)" type="checkbox" class="appearance-none bg-card-bg 
                        indeterminate:appearance-auto indeterminate:accent-primary
                        checked:appearance-auto checked:accent-primary border-gray-800 border size-3 rounded-xs">
                    </th>
                    <th class="px-[7px]  ">
                    </th>
                    @for(column of columns; track $index){
                    <th class="py-3.5 whitespace-nowrap min-w-[120px] " (click)="doSorting(column.key)">
                        <div class="flex items-center gap-1 ">
                            <img class="size-2.5" [src]="column.icon" alt="i">
                            <span class="text-[9px] font-medium font-worksans">
                                {{column.label}}
                            </span>
                            @if(sortcol() === column.key){
                            @if(sortdirection() === 'asc'){
                            <img class="size-3.5 rotate-180" src="assets/icons/neutral/droparrow.svg" alt="i">
                            } @else if(sortdirection() === 'dsc'){
                            <img class="size-3.5" src="assets/icons/neutral/droparrow.svg" alt="i">
                            } @else {
                            <img class="size-3.5" src="assets/icons/neutral/sortarrows.svg" alt="i">
                            }
                            } @else {
                            <img class="size-3.5" src="assets/icons/neutral/sortarrows.svg" alt="i">
                            }
                        </div>
                    </th>
                    }
                </tr>
            </thead>

            <!-- Table Body -->

            <tbody class="text-sm">
                @for(data of currentPageData; track $index ){
                <tr class="odd:bg-active-route-bg overflow-x-auto scroll-container">
                    <td class="px-[7px]">
                    </td>
                    <!-- Checkbox -->
                    <td class="sticky left-0 z-10">
                        <input [id]="$index" name="childchkbox" type="checkbox" [checked]="IncludesTableData(data)"
                            (change)="checkUncheckRow(data, $event)" class="appearance-none bg-card-bg border border-gray-800 size-3 
                        rounded-xs checked:appearance-auto checked:accent-primary  
                        ">
                    </td>

                    <th class="px-[7px]  ">
                    </th>
                    @for(column of columns; track $index){
                    <td class=" py-4.5 text-grey-300 whitespace-nowrap min-w-[120px]">
                        @if(data[column.key] === true || data[column.key] === false) {
                        <span class="px-1.5 py-px border rounded-xs text-[10px] font-extralight" [ngClass]="data[column.key] ? 'text-up-green-arrow bg-up-green-arrow/30 border-up-green-arrow/50' 
                            : 'text-gray-300 bg-gray-400/30 border-gray-400/50'">
                            • {{column?.func(data[column.key])}}
                        </span>
                        } @else if(column.label === "Name") {
                        <span class="flex gap-2 text-[10px] text-gray-400 font-worksans align-middle items-center">
                            <img class="size-7 rounded-full shrink-0" src="assets/images/OIP.jpg" alt="p">
                            <span class=" truncate max-w-[150px] flex flex-col gap-0.5">
                                {{getValue(data, column.key) | titlecase}}
                                <span>
                                    {{getValue(data, column.subkey)}}
                                </span>
                            </span>
                        </span>
                        } @else if (column.label === "Price") {
                        <span
                            class=" truncate max-w-[150px] flex gap-2 text-[10px] text-gray-400 font-worksans align-middle items-center ">
                            {{getValue(data, column.key) | currency}}
                        </span>
                        } @else {
                        <span
                            class=" truncate max-w-[150px] flex gap-2 text-[10px] text-gray-400 font-worksans align-middle items-center ">
                            @if(column.label === "Company"){
                            <img class="size-4 rounded-full shrink-0 " [src]="imgSrc(getValue(data, column.key))"
                                alt="">
                            }
                            @if(column.label === "Product Name"){
                            <img class="size-7 rounded-full shrink-0 " src="assets/images/products/watch.svg" alt="i">
                            }
                            {{getValue(data, column.key) | titlecase}}
                        </span>
                        }
                    </td>
                    }

                    <!-- Action Buttons -->
                    <td class="py-6.5 px-0 whitespace-nowrap">
                        <div class="flex px-2 justify-around align-middle items-center cursor-pointer min-w-20 gap-5">
                            <button (click)="onClickedEdit(tableData[$index])"
                                class="flex items-center justify-center ">
                                <img src="assets/icons/neutral/pencil.svg" class="size-3" alt="act btn" />
                            </button>
                            <button (click)="onClickedDelete(tableData[$index])"
                                class="flex items-center cursor-pointer justify-center ">
                                <img src="assets/icons/neutral/bin.svg" class="size-3" alt="act btn" />
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
    } @else {
    <app-data-error></app-data-error>
    }
</div>

<div class="flex flex-row items-end justify-end py-5 px-5">
    <div class="px-14 flex flex-row items-center ">
        <label for="itemsperpage" class="text-gray-400 text-[11px] font-medium font-inter px-3">Rows per page:</label>
        <div class="flex relative ">
            <img class="absolute top-1/2 -translate-y-1/2 translate-x-5 pointer-events-none"
                src="assets/icons/neutral/droparrow.svg" alt="arrow">
            <select class=" appearance-none h-[26px] w-[41px] rounded-sm bg-active-route-bg text-white p-1 px-2 text-[10px] font-light
            " [(ngModel)]="itemsPerPage" (change)="onChangePerPage()" name="select" id="itemsperpage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
    <button [disabled]="displayStartIndex === 1" (click)="previousPage()" type="button"
        class="bg-active-route-bg p-[5.5px] rounded-sm hover:bg-card-bg/30 cursor-pointer disabled:cursor-not-allowed disabled:opacity-25">
        <img class="size-3 shrink-0" src="assets/icons/white/leftarrow.svg" alt="arrow">
    </button>
    <button [disabled]="endIndex === tableTotal" (click)="nextPage()" type="button"
        class="bg-active-route-bg p-[5.5px] rounded-sm ml-1.5 hover:bg-card-bg/30 cursor-pointer disabled:cursor-not-allowed disabled:opacity-25">
        <img class="size-3 shrink-0" src="assets/icons/white/rightarrow.svg" alt="arrow">
    </button>
</div>