<div class="flex flex-col border-r border-border w-71 h-screen 
    transition-all duration-300 ease-in-out backdrop-blur-sm drop-shadow-xl dark:drop-shadow-black/25 ">

    <div class="flex flex-col gap-2.5 w-auto h-auto px-6.5 py-8.5 pb-0  ">
        <div class="flex flex-row justify-between align-middle items-center ">
            <app-main-logo></app-main-logo>
            @if(!sidebar){
            <app-language-switcher></app-language-switcher>
            }
            @if(sidebar){
            <button [appTooltip]="'close side bar' | translate" tooltipPosition="top" type="button"
                class="cursor-pointer" (click)="toggleSidebar()">
                <span>
                    <img class=" shrink-0" src="assets/icons/neutral/doublearrows.svg" alt="a">
                </span>
            </button>
            }
        </div>


        <div class="mt-7">
            <app-generic-input [config]="searchbarConfig" [(ngModel)]="searchKey"
                (ngModelChange)="updateSearchKey($event)" />
        </div>
    </div>

    <div class="overflow-y-auto scroll-container scroll-smooth pt-2">
        <!-- No results state -->
        @if(filteredNavItems().length === 0) {
        <div class="px-4 py-6 text-center">
            <p class="text-figma-neutral text-xs">{{'No Result' | translate}}</p>
            <p class="text-secondary2 text-[11px] mt-1">{{ searchKey() }}</p>
        </div>
        }
        <!-- Dashboard selection div -->
        <!-- @for(items of navData; track $index){ -->
        @for(items of filteredNavItems(); track items!.tileName) {
        <div [class]="items!.topPadding" class="px-6.5">
            <button type="button" [disabled]="open === items!.routePath" class="flex flex-row items-end justify-between cursor-pointer
                size-auto w-full
                " (click)="openAndNavigate(items!.routePath, items!.routeLink[0])">
                <div class=" flex flex-row">
                    @if(open === items!.routePath){
                    <app-svg-colour svgSize="size-4" svgColor="bg-primary"
                        svgPath="{{items!.coloredIcon}}"></app-svg-colour>
                    } @else {
                    <app-svg-colour svgSize="size-4" svgColor="bg-figma-neutral"
                        svgPath="{{items!.uncoloredIcon}}"></app-svg-colour>
                    }
                    <span [innerHTML]="highlight(items!.tileName | translate)" [ngClass]="open === items!.routePath
                        ? 'text-primary'
                        : ' text-figma-neutral'" class=" px-1 font-medium text-sm">{{items!.tileName
                        |
                        translate}}</span>
                </div>
                <span class="transition-transform duration-300 ease-in-out mr-3 "
                    [ngClass]="open === items!.routePath ? 'rotate-0' : '-rotate-90' ">
                    <img src="assets/icons/neutral/droparrow.svg" alt="drop">
                </span>
            </button>

            <nav [ngClass]="open === items!.routePath 
            ? 'opacity-100 max-h-auto pointer-events-auto py-4'
            : 'opacity-0 max-h-0 pointer-events-none py-3 ' "
                class="flex flex-col transition-all duration-400 ease-in-out ">
                @for(list of items!.routeNames; track $index){
                <!-- [routerLink]="[items!.routeLink[$index]]" -->
                <a (click)="routerLinking(items!.routeLink[$index])" [ngClass]="isActive(items!.routeLink[$index]) 
                    ? 'ltr:border-l-4 rtl:border-r-4 border-primary bg-active-route-bg/60 dark:bg-active-route-bg' 
                    : 'px-2'" class=" text-figma-neutral ltr:text-left text-sm px-4 py-2.5 rounded-sm font-normal cursor-pointer">
                    <span class="">{{items!.routeNames[$index] | translate}}</span>
                </a>
                }
            </nav>
        </div>
        }

        <!-- settings div -->
        <div class="flex flex-col gap-5 w-auto h-auto px-5 py-7
            border-t-[0.1px] text-figma-neutral/50 dark:border-border bg-inherit
            ">
            <div>
                <button type="button" [disabled]="open === 'settings'"
                    class="flex flex-row items-center w-full justify-between cursor-pointer"
                    (click)="onRoute('settings')">
                    <div class=" flex flex-row items-center justify-center  ">
                        @if(open === 'settings'){
                        <app-svg-colour svgSize="size-4" svgColor="bg-primary"
                            svgPath="assets/icons/colored/settingsicon.svg"></app-svg-colour>
                        } @else {
                        <app-svg-colour svgSize="size-4" svgColor="bg-figma-neutral"
                            svgPath="assets/icons/uncolored/settingsicon.svg"></app-svg-colour>
                        }
                        <span [ngClass]="open === 'settings'
                ? 'text-primary'
                : ' text-figma-neutral'" class=" px-1 font-bold text-sm">{{"SETTINGS" |
                            translate}}</span>
                    </div>
                </button>
            </div>
            <div class="py-2 flex items-center">
                <button type="button" [disabled]="open === 'profile'"
                    class="flex flex-row  items-center w-full justify-between cursor-pointer"
                    (click)="onRoute('profile')">
                    <div class="flex fex-row items-center">
                        <!-- <div class=" rounded-full overflow-hidden size-9 bg-contain  ">
                            <img class="-mt-1" src="assets/images/OIP.webp" alt="">
                        </div> -->
                        <div
                            class="w-9 h-9 shrink-0 flex items-center justify-center text-xs font-medium bg-primary/20 text-primary rounded-full">
                            {{ username | slice:0:2 | uppercase }}
                        </div>
                        <div class="flex flex-col items-start px-2 ">
                            <span [ngClass]="open === 'profile' ? 'text-primary' : 'text-figma-neutral' "
                                class=" text-sm font-bold ">{{username}}</span>
                            <span class=" text-figma-neutral text-xs ">{{"ACCOUNT_SETTINGS" |
                                translate}}</span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div [ngClass]="sidebar ? 'justify-center' : 'justify-between' "
        class="flex flex-row gap-1 items-center w-auto h-auto py-1 px-5 mt-auto">
        <app-footer></app-footer>
        @if(!sidebar){
        <app-logout-btn></app-logout-btn>
        }
    </div>

</div>