<div class="flex flex-col border-r border-card-bg w-71 h-screen 
    transition-all duration-300 ease-in-out dark:bg-primary-bg drop-shadow-xl dark:drop-shadow-black/25 ">

    <div class="flex flex-col gap-2.5 w-auto h-auto px-6.5 py-8.5 pb-0  ">
        <div class="flex flex-row justify-between align-middle items-center ">
            <app-main-logo></app-main-logo>
            <button class="cursor-pointer" (click)="toggleSidebar()">
                <span>
                    <img class=" shrink-0" src="assets/icons/neutral/doublearrows.svg" alt="a">
                </span>
            </button>
        </div>


        <div class="mt-7">
            <!-- <div class="flex justify-center align-middle w-full h-7 my-4 mb-0 
            opacity-100 md:opacity-0 md:my-0 md:mb-0 md:size-0 ">
                <img src="assets/icons/neutral/search.svg" alt="">
            </div> -->
            <div class="flex flex-row relative w-auto justify-center items-center">
                <img src="assets/icons/neutral/search.svg"
                    class="absolute left-3 top-1/2 -translate-y-1/2 size-3.5  pointer-events-none" alt="icon" />
                <input class=" pl-8 w-full h-10 border border-card-bg/30 dark:border-gray-800 rounded-md caret-primary outline-0
            placeholder:text-card-bg bg-input-bg 
            dark:placeholder:text-gray-400 placeholder:text-xs focus:border-primary dark:text-gray-400 " type="search"
                    placeholder="Search for..." />
            </div>
            <!-- <app-search-bar></app-search-bar> -->
        </div>
    </div>

    <div class="overflow-y-auto scroll-container scroll-smooth pt-2">
        <!-- Dashboard selection div -->
        @for(items of navData; track $index){
        <div [class]="items.topPadding" class="px-6.5">
            <!-- <button [disabled]="open === items.routePath" class="flex justify-center align-middle w-full cursor-pointer
                size-auto opacity-100 md:size-0 md:opacity-100
                " (click)="openAndNavigate(items.routePath, items.routeLink[0])">
                @if(open === items.routePath){
                <img [src]="items.coloredIcon" [alt]="items.iconsAlt">
                } @else {
                <img [src]="items.uncoloredIcon" [alt]="items.iconsAlt">
                }
            </button> -->
            <button [disabled]="open === items.routePath" class="flex flex-row items-end justify-between cursor-pointer
                 size-auto w-full
                " (click)="openAndNavigate(items.routePath, items.routeLink[0])">
                <div class=" flex flex-row">
                    @if(open === items.routePath){
                    <img [src]="items.coloredIcon" [alt]="items.iconsAlt">
                    } @else {
                    <img [src]="items.uncoloredIcon" [alt]="items.iconsAlt">
                    }
                    <span [ngClass]="open === items.routePath
                ? 'text-primary'
                : 'text-gray-500 dark:text-neutral-400'" class=" px-1 font-medium text-sm">{{items.tileName}}</span>
                </div>
                <span class="transition-transform duration-300 ease-in-out mr-3 "
                    [ngClass]="open === items.routePath ? 'rotate-0' : '-rotate-90' ">
                    <img src="assets/icons/neutral/droparrow.svg" alt="drop">
                </span>
            </button>

            <nav [ngClass]="open === items.routePath 
            ? 'opacity-100 max-h-auto pointer-events-auto py-4'
            : 'opacity-0 max-h-0 pointer-events-none py-3 ' "
                class="flex flex-col transition-all duration-400 ease-in-out ">
                @for(list of items.routeNames; track $index){
                <a [routerLink]="[items.routeLink[$index]]" [ngClass]="isActive(items.routeLink[$index]) 
                    ? 'border-l-4 border-primary text-primary-bg bg-active-route-bg/60 dark:bg-active-route-bg dark:text-white' 
                    : 'px-2 text-gray-500 dark:text-neutral-400'"
                    class=" text-left text-sm px-4 py-2.5 rounded-sm font-normal">
                    <!-- <span class="md:hidden dark:fill-white "><img class="size-5" src="assets/icons/dashboard.svg"
                            alt="dash"></span> -->
                    <span class="">{{items.routeNames[$index]}}</span>
                </a>
                }
            </nav>
        </div>
        }
        <!-- </div> -->


        <!-- divider div -->
        <!-- <div class="border-b-[0.1px] text-gray-500/50 dark:border-b-gray-800"></div> -->
        <!-- settings div -->
        <div class="flex flex-col gap-5 w-auto h-auto px-5 py-7
    border-t-[0.1px] text-gray-500/50 dark:border-t-gray-800 bg-inherit
    ">
            <div>
                <button [disabled]="open === 'settings'"
                    class="flex flex-row items-center w-full justify-between cursor-pointer"
                    (click)="onRoute('settings')">
                    <div class=" flex flex-row items-center justify-center  ">
                        @if(open === 'settings'){
                        <img src="assets\icons\colored\settingsicon.svg" alt="si">
                        } @else {
                        <img src="assets\icons\uncolored\settingsicon.svg" alt="si">
                        }
                        <span [ngClass]="open === 'settings'
                ? 'text-primary'
                : 'text-gray-500 dark:text-neutral-400'" class=" px-1 font-bold text-sm">Settings</span>
                    </div>
                    <!-- <span class="-rotate-90 hidden md:inline">
                    <img src="assets/icons/droparrow.svg" alt="">
                </span> -->
                </button>
            </div>
            <div class="py-2 flex">
                <button [disabled]="open === 'profile'"
                    class="flex flex-row  items-center w-full justify-between cursor-pointer"
                    (click)="onRoute('profile')">
                    <div class="flex fex-row items-center">
                        <div class=" rounded-full overflow-hidden size-9 bg-contain  ">
                            <img class="-mt-1" src="assets/images/OIP.webp" alt="">
                        </div>
                        <div class="flex flex-col items-start px-2 ">
                            <span
                                [ngClass]="open === 'profile' ? 'text-primary' : 'text-gray-700 dark:text-neutral-100' "
                                class=" text-sm font-bold ">{{username}}</span>
                            <span class="text-gray-500 dark:text-neutral-400 text-xs ">Account Settings</span>
                        </div>
                    </div>
                </button>
                @if(!sidebar){
                    <button (click)="onLogout()"
                    class="px-4 hover:bg-red-600/20 hover:border hover:border-red-700 hover:backdrop-blur-xl rounded-xl">
                    <img class="size-5 " src="assets/icons/colored/logout.svg" alt="l">
                </button>
            }
            </div>
            <!-- <div>
                <button class="grad w-full h-11.5 rounded-sm
            bg-linear-to-br from-primary from-5% to-purple-900 to-95% ">
                    <div class="flex gap-2 justify-center">
                        <span class="text-md text-white font-light tracking-normal font-worksans">Get template</span>
                        <img src="assets/icons/white/rightarrow.svg" alt="arr">
                    </div>
                </button>
            </div> -->
        </div>
    </div>

</div>