<div class="flex flex-col justify-center items-center min-h-screen overflow-auto p-2 md:p-0
        bg-[url('/assets/lgbg.png')] bg-no-repeat bg-cover bg-center">
    <div class="relative p-0">
        <!-- The glowing gradient background layer -->
        <div class="absolute inset-0 bg-linear-to-br from-primary via-purple-600 to-secondary2 rounded-lg filter blur-xl 
            opacity-10 animate-pulse">
        </div>
        <div class="w-full lg:w-150 h-auto border border-gray-500/25 rounded-xl 
                    bg-card-bg/70 backdrop-blur-3xl p-5 lg:p-8 lg:pb-1 mt-5.5 mb-5 ">
            <div class="flex flex-row justify-between items-center">
                <div class="w-full">
                    <p class="text-white text-lg font-semibold font-worksans ">{{authFormTitle | translate}}</p>
                    <p class="text-figma-neutral text-sm font-medium tracking-normal">{{authFormSubtitle | translate}}
                    </p>
                </div>
                <app-language-switcher></app-language-switcher>
            </div>
            <ng-content></ng-content>
        </div>
    </div>
    <app-footer></app-footer>
</div>