<div class="relative w-full max-w-sm mb-3 md:mb-0 ">
    <img src="assets/icons/neutral/search.svg" class="absolute left-3 top-1/2 -translate-y-1/2 w-3.5 h-3.5 pointer-events-none"
        alt="icon" />
    <input class=" pl-8 w-full md:w-83 h-10 bg-card-bg border border-card-bg dark:border-gray-800 rounded-sm caret-primary outline-0
            placeholder:text-card-bg placeholder:font-inter
            dark:placeholder:text-gray-300 placeholder:text-[11px] focus:border-primary dark:text-neutral-400 "
        type="search" placeholder="Search for..." />
</div>