<div class="relative flex flex-row justify-center items-center w-full max-w-sm mb-3 md:mb-0 ">
    <img src="assets/icons/neutral/search.svg"
        class="absolute left-3 p-0 flex align-middle size-3.5 bg-none pointer-events-none" alt="icon" />
    <input class="ltr:pl-8  rtl:pr-8 w-full md:w-83 h-10 bg-card-bg border border-card-bg dark:border-gray-800 
            rounded-sm caret-primary outline-0 placeholder:text-card-bg
            dark:placeholder:text-gray-300 placeholder:text-[11px] focus:border-primary dark:text-neutral-400 "
        type="text" [(ngModel)]="searchKey" (ngModelChange)="updateSearchKey($event)"
        placeholder="{{'SEARCH' | translate}}" />
    @if(searchKey()) {

    <button class="absolute right-3 bg-none cursor-pointer p-0 flex align-middle" (click)="clearText()" type="button">
        <img class="size-3" src="assets/icons/input_icons/cross.svg" alt="clear" />
    </button>
    }
</div>