<!-- (click)="[onOpen('')]" -->
<a [routerLink]="['']" >
            <div class="flex flex-row justify-between align-middle items-center ">
                <div class="flex flex-row">
                    <img class="size-6.5 " src="assets/icons/logo.svg" alt="a">
                    <span
                        class="opacity-0 font-inter md:opacity-100 font-medium text-card-bg dark:text-white text-lg px-2 ">
                        Dashdark X
                    </span>
                </div>
                <!-- <button class="cursor-pointer" (click)="onSidebarclick()" >
                    <span>
                        <img src="assets/icons/doublearrows.svg" alt="">
                    </span>
                </button> -->
            </div>
        </a>